.testimonial{
background-color: $verde;
font-size: 2.4rem; // con esta logro cubrir el mismo espacio de la parte de nuestro blog
padding: 2rem;
color: $blanco;
border-radius: 2rem; // para darle borde al cuadro verde
// box-shadow: 0px 5px 15px 6px rgba(178, 253, 3, 0.842); // para ponerle sombra al cuadro


blockquote{
    padding-left: 5rem;
    position: relative; // tengo que ponerlo a fuerza para poder mover la imagen d la comilla como quiera
    // ::before dice que la agrege ants after que lo haga despues
    &::before{
        content: '';
        // todo esto para poner la imagen de la comilla
        background-image: url(../img/comilla.svg);
        background-repeat: no-repeat;
        width: 5rem;
        height: 6rem;
        display: block; // para que nos muestre la imagen de comillas
        position: absolute; // tengo que ponerlo a fuerza para poder mover la imagen d la comilla como quiera
        left: -1rem; // con esta propiedad puedo mover la imagen de la comilla
    }
}
p{
 color: $blanco;   
 text-align: right;
}
}